<div class="container" (wheel)="activeLinksWhileScrollAll()">

  <section class="part1Background" id="home">
    <div class="part1Main">
      <header class="part1Header" id="headerContent">
        <div class="logoStyle">
          <img [src]="imagesList.logoDark" alt="noLogo">
        </div>
        <div class="nav">
          <p class="toggleIcon" (click)="activateSideBar()"> <i class="pi pi-bars"></i></p>
          <div class="menu">
            <ul>
              <li class="navLink"><a href="#home" class="addColor" (click)="activeLinksWhhileClick($event)">home</a>
              </li>
              <li class="navLink"><a href="#about" class="addColor" (click)="activeLinksWhhileClick($event)">about</a>
              </li>
              <li class="navLink"><a href="#whatIDo" class="addColor" (click)="activeLinksWhhileClick($event)">what i
                  do</a></li>
              <li class="navLink"><a href="#experiences" class="addColor"
                  (click)="activeLinksWhhileClick($event)">experiences</a>
              </li>
              <li class="navLink"><a href="#portfolio" class="addColor"
                  (click)="activeLinksWhhileClick($event)">portfolio</a>
              </li>
              <li class="navLink"><a href="#testimonial" class="addColor"
                  (click)="activeLinksWhhileClick($event)">testimonial</a>
              </li>
              <li class="navLink"><a href="#blog" class="addColor" (click)="activeLinksWhhileClick($event)">blog</a>
              </li>
              <li class="navLink"><a href="#" class="addColor" (click)="activeLinksWhhileClick($event)">contact</a></li>
            </ul>
          </div>
        </div>

      </header>
      <div class="part1Body">
        <h1 class="headText">I'm Darwin Sawdy</h1>
        <p class="productDesigneText">Product Designer</p>
        <div class="part1ButtonsStyleDiv">
          <div class="hireButton">
            <button pButton pRipple type="button" label="Hire Me" class="p-button-rounded part1ButtonsStyle"></button>
          </div>

          <div class="downloadButton">
            <button pButton pRipple type="button" label="Download CV"
              class="p-button-rounded p-button-secondary part1ButtonsStyle "></button>
          </div>

        </div>

        <div class="socialMediaIconsPart">
          <a href="#"><img [src]="imagesList.facebookLogo" alt="NoImg"></a>
          <a href="#"><img [src]="imagesList.twitterLogo" alt="NoImg"></a>
          <a href="#"><img [src]="imagesList.googleLogo" alt="NoImg"></a>
          <a href="#"><img [src]="imagesList.dotsIcon" alt="NoImg"></a>
        </div>


      </div>


    </div>


    <div class="part1BottomBackgroundImage">
    </div>

  </section>





  <section id="about" class="part2">

    <div *ngIf="showErrorToTopIcon === true" class="goUpDiv" (click)="gotoTopPointOfPage()">
      <p class="gotoTop"><i class="pi pi-arrow-up"></i></p>
    </div>

    <div>
      <div class="part2Container">

        <div class="aboutImageDiv">
          <img [src]="imagesList.aboutImage" alt="NoAboutImage">

        </div>


        <div class="aboutMeParagraphDiv">
          <div class="headingpart2">
            <h2>About Me</h2>
          </div>
          <div class="headingParagraphpart">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at beatae consequatur debitis
              dignissimos maiores
              natus quam qui soluta voluptates.</p>
          </div>
          <div class="aboutmeoptionsDiv">
            <div class="aboutmePHOTOSHOPDiv">
              <p>PHOTOSHOP</p>
            </div>
            <div class="aboutmePHOTOSHOPDiv">
              <p>SKETCH</p>
            </div>
            <div class="aboutmePHOTOSHOPDiv">
              <p>AFTER EFFECT</p>
            </div>
            <div class="aboutmePHOTOSHOPDiv">
              <p>FLASH</p>
            </div>
          </div>

        </div>


      </div>

      <div class="part2ContactmeButton">
        <button pButton pRipple type="button" label="Contact Me" class="p-button-rounded part1ButtonsStyle"></button>
      </div>

    </div>


  </section>
  <section id="whatIDo" class="part3">
    <div class="part3ContainerHeading">
      <h2>What I do</h2>
    </div>
    <div class="cardsinPart3">

      <div class="card1">
        <p-card [style]="{width:'19rem',height:'21rem'}" styleClass="cardReSizesResponsive">
          <ng-template pTemplate="header">
            <div class="iconAndSubHeader">
              <div class="card1IconBackground">
                <i class="bi bi-mouse2 cardIcons1"></i>
              </div>
              <div>
                <h2 class="card1SubHeader">Branding</h2>
              </div>
            </div>
          </ng-template>

          <p class="card1Para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolorem hic nam
            odio optio porro
            quis quo
            recusandae unde.</p>
        </p-card>
      </div>
      <div class="card1">
        <p-card [style]="{width:'19rem',height:'21rem'}" styleClass="cardReSizesResponsive">
          <ng-template pTemplate="header">
            <div class="iconAndSubHeader">
              <div class="card2IconBackground">
                <i class="bi bi-laptop cardIcons2"></i>
              </div>
              <div>
                <h2 class="card1SubHeader">Web Design</h2>
              </div>
            </div>
          </ng-template>

          <p class="card1Para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolorem hic nam
            odio
            optio porro
            quis quo
            recusandae unde.</p>
        </p-card>
      </div>
      <div class="card1">
        <p-card [style]="{width:'19rem',height:'21rem'}" styleClass="cardReSizesResponsive">
          <ng-template pTemplate="header">
            <div class="iconAndSubHeader">
              <div class="card3IconBackground">
                <i class="bi bi-sliders cardIcons3"></i>
              </div>
              <div>
                <h2 class="card1SubHeader">Development</h2>
              </div>
            </div>
          </ng-template>

          <p class="card1Para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dolorem hic nam
            odio
            optio porro
            quis quo
            recusandae unde.</p>
        </p-card>
      </div>


    </div>



  </section>
  <section id="experiences" class="part4">

    <div class="part4Heading">
      <ul>

        <li (click)="part4HeadingLiActivation($event);" class="part4HeadingItemActiveStyle">Education
        </li>
        <li (click)="part4HeadingLiActivation($event)">Work Experience</li>
      </ul>
    </div>

    <div class="part4mainpart">


      <div *ngIf="part4SelctedTypeToDisplayContent === 'Education' " class="part4EducationPart">

        <div class="part4EducationPartContainer">
          <div class="messagesBox">
            <h5>Art & Multimedia From
              <span>Oxford University</span>
            </h5>
            <h6>March 2015 - July 2016</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum cumque deserunt,
              dolorem eum necessitatibus quae saepe sed similique.</p>
          </div>
          <div class="messagesBox">
            <h5>Art & Multimedia From
              <span>Oxford University</span>
            </h5>
            <h6>July 2017 - Sept 2018</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum cumque deserunt,
              dolorem eum necessitatibus quae saepe sed similique.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eius!</p>
          </div>

        </div>
        <div class="part4EducationPartContainer">
          <div class="messagesBox">
            <h5>Art & Multimedia From
              <span>Oxford University</span>
            </h5>
            <h6>March 2015 - July 2016</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum cumque deserunt,
              dolorem eum necessitatibus quae saepe sed similique.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eius!</p>
          </div>
        </div>



      </div>
      <div *ngIf="part4SelctedTypeToDisplayContent === 'Work Experience' " class="part4ExperiencePart">


        <div class="part4EducationPartContainer">
          <div class="messagesBox">
            <h5>Project Manager
              <span>Google</span>
            </h5>
            <h6>March 2015 - July 2016</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum cumque deserunt,
              dolorem eum necessitatibus quae saepe sed similique.</p>
          </div>
          <div class="messagesBox">
            <h5>Web Designer
              <span>Microsoft</span>
            </h5>
            <h6>JULY 2017 - SEPT 2018</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum cumque deserunt,
              dolorem eum necessitatibus quae saepe sed similique.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eius!</p>
          </div>

        </div>
        <div class="part4EducationPartContainer2">
          <div class="messagesBox">
            <h5>Web Designer
              <span>Twitter</span>
            </h5>
            <h6>March 2015 - July 2016</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum cumque deserunt,
              dolorem eum necessitatibus quae saepe sed similique.</p>
            <h4>POSITION</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, eius!</p>
          </div>
          <div class="messagesBox">
            <h5>Project Manager
              <span>IBM</span>
            </h5>
            <h6>APRIL 2018 - DEC 2019</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut cum cumque deserunt,
              dolorem eum necessitatibus quae saepe sed similique.</p>
          </div>
        </div>

      </div>

    </div>



  </section>
  <section id="portfolio" class="part5page">
    <div class="part5">
      <div class="part5Header">
        <h2>Portfolio</h2>
        <div class="part5Nav">
          <ul>
            <li (click)="part5NavLinkActive($event)" class="part5NavLiActive">ALL</li>
            <li (click)="part5NavLinkActive($event)">Mobile</li>
            <li (click)="part5NavLinkActive($event)">Landing Page</li>
            <li (click)="part5NavLinkActive($event)">Branding</li>
          </ul>
        </div>
      </div>

      <div class="part5Mainpart">
        <div class="part4SubPart" *ngIf="part5SelcetedItem === 'ALL'">
          <div class="part5SubPart1">
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P1" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Mobile App</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P2" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Landing Page</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
          </div>
          <div class="part5SubPart2">
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P3" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Other</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P4" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Landing Page</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
          </div>
          <div class="part5SubPart3">
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P5" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Branding</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P6" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Mobile App</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P7" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Mobile App</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
          </div>
        </div>

        <div class="part5SubPart5" *ngIf="part5SelcetedItem === 'MOBILE'">

          <div class="part5Img1" (click)="enablePart5DialogBox()">
            <div class="card1">
              <img [src]="imagesList.part4P1" alt="" />
            </div>

            <div class="part5Imag1Title">
              <h5>Mobile App</h5>
              <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
            </div>

          </div>
          <div class="part5SubPart5SubPart">
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P6" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Mobile App</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>
            <div class="part5Img1" (click)="enablePart5DialogBox()">
              <div class="card1">
                <img [src]="imagesList.part4P7" alt="" />
              </div>

              <div class="part5Imag1Title">
                <h5>Mobile App</h5>
                <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
              </div>

            </div>

          </div>
        </div>





        <div class="part5SubPart5" *ngIf="part5SelcetedItem === 'LANDING PAGE'">

          <div class="part5Img1" (click)="enablePart5DialogBox()">
            <div class="card1">
              <img [src]="imagesList.part4P2" alt="" />
            </div>

            <div class="part5Imag1Title">
              <h5>Landing Page</h5>
              <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
            </div>

          </div>
          <div class="part5Img1" (click)="enablePart5DialogBox()">
            <div class="card1">
              <img [src]="imagesList.part4P4" alt="" />
            </div>

            <div class="part5Imag1Title">
              <h5>Landing Page</h5>
              <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
            </div>

          </div>

        </div>


        <div class="part5SubPart5" *ngIf="part5SelcetedItem === 'BRANDING'">

          <div class="part5Img1" (click)="enablePart5DialogBox()">
            <div class="card1">
              <img [src]="imagesList.part4P5" alt="" />
            </div>

            <div class="part5Imag1Title">
              <h5>Branding</h5>
              <div class="titleParagraph">Lorem ipsum dolor sit amet.</div>
            </div>

          </div>


        </div>


        <div class="part2ContactmeButton">
          <button pButton pRipple type="button" label="Contact Me" class="p-button-rounded part1ButtonsStyle"></button>
        </div>





      </div>

    </div>
    <div class="part5Subpart">

      <div class="part5Subpart1">
        <div class="part5CommentSection">
          <div class="commentIcon">
            <img [src]="imagesList.commentSmily" alt="">
          </div>
          <h4>600+</h4>
          <p>Projects</p>
        </div>

        <div class="part5CommentSection">
          <div class="commentIcon turnArrowIcon">
            <img [src]="imagesList.arrowNavigatorIcon" alt="">
          </div>
          <h4>500+</h4>
          <p>Company</p>
        </div>
      </div>
      <div class="part5Subpart1">
        <div class="part5CommentSection">
          <div class="commentIcon turnTheImage">
            <img [src]="imagesList.piChartIcon" alt="">
          </div>
          <h4>300+</h4>
          <p>Happy Clients</p>
        </div>
        <div class="part5CommentSection">
          <div class="commentIcon">
            <img [src]="imagesList.basketballIcon" alt="">
          </div>
          <h4>150+</h4>
          <p>Awards</p>
        </div>


      </div>
    </div>

  </section>
  <section id="testimonial" class="part6">

    <div class="part6Header">
      <h2>TESTIMONIAL</h2>
    </div>

    <div class="part6CarouselEffect">

      <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="2" [numScroll]="2" [circular]="true"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions" [showIndicators]="false" styleClass="carouselWidth">
        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              
                <div class="userlogo">
                    <img src="assets/images/{{product.userLogo}}" alt="NoImg">
                </div>
                <h3>Stars</h3>
                <p>{{product.userDescription}}</p>
                <h5>{{product.userName}}</h5>             
            </div>
          </div>
        </ng-template>
      </p-carousel>


    </div>



  </section>

  <section id="blog" class="part7">

  </section>



  <router-outlet></router-outlet>
</div>
<!-- sidebar -->
<div class="mySidebar">
  <p-sidebar [(visible)]="activateSideBarStatus" #sideBarMenuData [style]="{width:'30em'}" styleClass="widthForSideBar"
    [fullScreen]="false" [blockScroll]="true" [showCloseIcon]="false">
    <div class="sideBarMenu">
      <ul>

        <li class="navLinkSideBar"><a [routerLink]="['/']" fragment="home" routerLinkActive="colorToAnchor"
            [routerLinkActiveOptions]="linkActiveOptions" (click)="showHeaderAfterClick($event);">home</a>
        </li>
        <li class="navLinkSideBar"><a [routerLink]="['/']" fragment="about"
            [routerLinkActiveOptions]="linkActiveOptions" routerLinkActive="colorToAnchor"
            (click)="showHeaderAfterClick($event);">about</a>
        </li>
        <li class="navLinkSideBar"><a [routerLink]="['/']" fragment="whatIDo"
            [routerLinkActiveOptions]="linkActiveOptions" routerLinkActive="colorToAnchor"
            (click)="showHeaderAfterClick($event);">what i
            do</a></li>
        <li class="navLinkSideBar"><a [routerLink]="['/']" fragment="experiences"
            [routerLinkActiveOptions]="linkActiveOptions" routerLinkActive="colorToAnchor"
            (click)="showHeaderAfterClick($event);">experiences</a>
        </li>
        <li class="navLinkSideBar"><a [routerLink]="['/']" fragment="portfolio"
            [routerLinkActiveOptions]="linkActiveOptions" routerLinkActive="colorToAnchor"
            (click)="showHeaderAfterClick($event);">portfolio</a>
        </li>
        <li><a [routerLink]="['/']" fragment="testimonial" [routerLinkActiveOptions]="linkActiveOptions"
            routerLinkActive="colorToAnchor" (click)="showHeaderAfterClick($event);">testimonial</a>
        </li>
        <li><a [routerLink]="['/']" fragment="blog" [routerLinkActiveOptions]="linkActiveOptions"
            routerLinkActive="colorToAnchor" (click)="showHeaderAfterClick($event);">blog</a></li>
        <li><a [routerLink]="['/']" fragment="contact" [routerLinkActiveOptions]="linkActiveOptions"
            routerLinkActive="colorToAnchor" (click)="showHeaderAfterClick($event);">contact</a></li>
        <router-outlet></router-outlet>

      </ul>

    </div>

  </p-sidebar>
</div>


<div class="part5DialogContainer">


  <p-dialog header="Anito - Onepage Portfolio Template" [(visible)]="enablePart5DialogBoxStatus"
    [breakpoints]="{'960px': '90vw'}" [style]="{width: '70vw',height:'auto'}" [draggable]="false" [resizable]="false"
    [modal]="true" [transitionOptions]="'0.2s'">
    <div class="part5HeaderDialogMainPart">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa delectus nisi optio quaerat sequi. Ex
        itaque
        nesciunt porro similique sit. Dicta est ex facilis fuga id ipsam officia quae.</p>
      <img [src]="imagesList.part5MainpartImg1" class="part5DialogImg" alt="NoImg" />
      <h5>Mobile App</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dolores ea exercitationem, iste quis
        repellendus
        similique tempore. Cupiditate, quos!</p>
      <img [src]="imagesList.part5MainpartImg2" class="part5DialogImg2" alt="NoImg" />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio enim minima numquam quos. Aut
        dolorem
        eaque eligendi excepturi fugiat, illum incidunt itaque laudantium libero minima nesciunt quam quos repellendus.
      </p>
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="part5mainpartlanguagesList">

        <ul>
          <li><span>php</span></li>
          <li><span>laravel</span></li>
          <li><span>design</span></li>
          <li><span>web</span></li>
          <li><span>portfolio</span></li>
        </ul>

      </div>

    </div>

    <ng-template pTemplate="footer">
      <div class="part5footerButtonDiv">
        <button pButton pRipple type="button" label="Preview"
          class="p-button-raised p-button-secondary part5footerButton"></button>
      </div>
    </ng-template>
  </p-dialog>





</div>